body {
    font-family: Arial;
    background: #ffe6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff4d88;
    color: white;
    border: none;
}