body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9eb5, #ff6f91);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM BOX */
.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    color: #ff4d88;
}

/* INPUTS */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background: #ff4d88;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #e6005c;
}

a {
    color: #ff4d88;
    text-decoration: none;
}